/*reset*/
*{margin:0; padding:0;}
body{font:12px/1.5 "宋体"; width:100%; overflow: hidden; color:#828282; background:url(../images/bg1.jpg) no-repeat center;}
img{border:0 none;}
ul{list-style:none;}
a{text-decoration: none;}
.bigtitle{font-size:40px; color:#f7f7f7; text-align: center; text-shadow: 5px 5px 10px rgba(0,0,0,.5);}
/*播放器CSS*/
#player{position: fixed; left:-541px; transition: .5s; bottom:10px; width:563px; height:115px; border-radius:4px; box-shadow:3px 3px 6px rgba(0,0,0,.42);}
#player .player-container{background:#000; position:relative; width:541px; height:115px; float:left;}
#player .player-toggle{width:22px; height:115px; cursor:pointer; overflow:hidden; background: url(../images/player_bg.png) no-repeat;float:right;}
#player .player-music-pic{display:block; width:90px; height:90px; float:left; margin:10px;}
#player .player-music-msg{float:left; width:431px; position: relative; height:115px;}
#player .player-music-title{color:#fff; font-size:14px; margin-top:10px; font-weight: normal;}
#player .player-music-author{margin:5px 0;}
#player .player-op{position:absolute;left:148px;top:43px;width:280px;}
#player .player-op strong{display:block; margin:7px 0 0 3px; overflow:hidden; text-indent:-9999px; cursor: pointer; width:36px; height:28px; background: url(../images/player_bg.png) no-repeat;float:left;}
#player .player-op .prev{background-position:-69px 0;}
#player .player-op .prev:hover{background-position:-69px -32px;}
#player .player-op .play{background-position:-105px 0; width:42px; height:42px; margin-top:0;}
#player .player-op .play:hover{background-position:-105px -42px;}
#player .player-op .pause{background-position:-291px -88px;}
#player .player-op .pause:hover{background-position:-333px -88px;}
#player .player-op .next{background-position:-147px 0;}
#player .player-op .next:hover{background-position:-147px -32px;}
#player .player-op .order{background-position:-291px -32px;}
#player .player-op .order:hover{background-position:-291px -60px;}
#player .player-op .volume{display:inline-block;width:100px;height:24px;float:left;margin-top:10px;margin-left:8px;}
#player .volume .volume-icon{vertical-align:-7px;float:left;display:inline-block;width:24px;height:24px;cursor:pointer; text-indent: -9999px; background:url(../images/player_bg.png) no-repeat -189px -3px;}
#player .volume .volume-icon:hover{background-position: -189px -35px;}
#player .volume .volume-icon-disable{background-position:-152px -63px;}
#player .volume .volume-icon-disable:hover{background-position:-189px -63px}
#player .volume .volume-regulate{float:left; top:6px;font-size:0;background: url(../images/player_bg.png) no-repeat -291px -11px;display:inline-block;width:71px;height:11px;position:relative;cursor:pointer;}
#player .volume .volume-bar{font-size:0;background:url(../images/player_bg.png) no-repeat -291px 0;display:inline-block;height:11px;position:absolute;}
#player .volume .volume-op{background: url(../images/player_bg.png) no-repeat -366px 0;font-size:0;width:6px;height:11px;position:absolute;top:0;}
#player .player-bar{font-size:0;width:541px;height:4px;position:absolute;bottom:0;left:0;}
#player .player-bar .player-bg-bar{width:100%;background:#323232;font-size:0;height:4px;position:absolute;bottom:0;left:0;z-index:1;cursor:pointer;}
#player .player-bar .player-download-bar{background:#2c4838;font-size:0;height:4px;position:absolute;bottom:0;left:0;z-index:2;cursor:pointer;}
#player .player-bar .player-current-bar{position:absolute;background:#0cc65b;font-size:0;display:block;height:4px;z-index:3;cursor:pointer;}
#player .player-bar .player-progress-op{display:block;width:7px;height:6px;background:url(../images/progress_op.png) no-repeat;position:absolute;z-index:3;top:-1px;cursor:pointer;}
#player .player-music-list{background:url(../images/player_bg.png) no-repeat -222px -97px;display:inline-block;width:47px;height:28px;border:0;position:absolute;top:0;right:61px;cursor:pointer;}
#player .player-music-list span{color:#fff;font-family:tahoma;font-size:11px;line-height:28px;display:inline-block;text-align:center;width:24px;height:28px;margin-left:23px;}
#player .player-music-lyrics{display:block;width:14px;height:14px;background:url(../images/player_bg.png) no-repeat -452px 0;position:absolute;top:7px;right:37px;text-indent:-9999px;cursor:pointer;}
#player .player-list-box{background-color:#1B1B1B;transition:.5s;width:541px;position:absolute;height:0;left:0;top:0;opacity:0;z-index:-1;box-shadow:3px 3px 6px rgba(0,0,0,.42);}
#player .player-list-box .player-list-title{background-color:#000;height:52px;position:relative;z-index:2;}
#player .player-list-title ul{height:52px;}
#player .player-list-title ul li{float:left;position:relative;}
#player .player-list-title ul li a{float:left;color:#fff;font-size:18px;font-family:"微软雅黑";height:52px;line-height:52px;padding:0 20px;}
#player .player-list-title ul li i{display:none;}
#player .player-list-title ul li.current a{background:#262626;}
#player .player-list-title ul li.current i{display:block;width:15px;height:8px;background: url(../images/player_bg.png) no-repeat -504px -28px;position:absolute;left:50%;margin:0 0 0 -7px;top:52px;}
#player .player-list-title .clear-list{color:#999;position:absolute;right:31px;top:18px;cursor:pointer;}
#player .player-list-title .close-list{text-indent:-9999px;background: url(../images/player_bg.png) no-repeat -269px -97px;display:inline-block;width:20px;height:20px;position:absolute;top:3px;right:7px;cursor:pointer;}
#player .single-list{margin-top:10px;}
#player .single-list li{cursor:pointer;height:24px;margin:2px 0 3px;position:relative;border-top:solid 1px #1B1B1B;}
#player .single-list li:hover,#player .single-list ul li:hover strong{background:#000; color:#fff;}
#player .single-list li strong{font-weight: normal;}
#player .single-list li.play-current strong{color: #0cc65b;}
#player .single-list li .music-name{color:#999;line-height:24px;float:left;display:block;vertical-align:top;width:297px;overflow:hidden;word-break:keep-all;word-wrap:keep-all;white-space:nowrap;text-overflow:ellipsis;}
#player .single-list li .singer-name{line-height: 24px;display: block;float:left;width: 180px;text-indent:20px;overflow: hidden;word-break: keep-all;word-wrap: keep-all;white-space: nowrap;text-overflow:ellipsis;}
#player .single-list li .play-time{line-height: 24px;width:44px;float:left;display:block;padding-left:20px;}
/*播放器CSS end*/